.spacer
{
  flex: 1;
}
.toolbar.mat-toolbar
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.75);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}
svg.material-icons
{
  height: 24px;
  width: auto;
}
svg.material-icons:not(:last-child)
{
  margin-right: 8px;
}
.content
{
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 1400px;
  flex-direction: column;
  align-items: center;
}
svg#clouds
{
  position: fixed;
  bottom: -160px;
  left: 0;
  z-index: -10;
  width: 1920px;
}


