<mat-card class="table-container">
  <div class="loading-indicator" *ngIf="isLoading">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
  <psm-table [data]="uses | async"></psm-table>
  <mat-card-footer *ngIf="!isLoading">
    <div class="page-control-container">
      <div style="margin:auto;">
        <button class="paging-btn" [disabled]="!hasPrev" mat-button mat-stroked-button (click)="prevPage()">prev</button>
        <button class="paging-btn" [disabled]="!hasNext" mat-button mat-stroked-button (click)="nextPage()">next</button>
      </div>
      <div>
        <mat-form-field appearance="fill" class="page-ctrl">
          <mat-label>Page Size</mat-label>
          <mat-select [(ngModel)]="pageSizeSelectCtrlValue"
                      [(value)]="pageSizeSelectCtrlValue"
                      (selectionChange)="changePageSize()">
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="50">50</mat-option>
            <mat-option value="100">100</mat-option>
            <mat-option value="200">200</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-footer>
</mat-card>














<!--<mat-card>-->
<!--  <table class="psm-table"-->
<!--         mat-table-->
<!--         matSort-->
<!--         [dataSource]="dataSource"-->
<!--         (matSortChange)="sortUses($event)"-->
<!--         aria-label="Elements">-->

<!--    <ng-container matColumnDef="productNr">-->
<!--      <th class="column-header" mat-header-cell mat-sort-header *matHeaderCellDef> Product Nr </th>-->
<!--      <td mat-cell *matCellDef="let row"> {{ row.productNr }} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="authorizationRequestNr">-->
<!--      <th class="column-header" mat-header-cell mat-sort-header *matHeaderCellDef>Authorization Request Nr </th>-->
<!--      <td mat-cell *matCellDef="let row"> {{ row.authorizationRequestNr }} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="useNr">-->
<!--      <th class="column-header" mat-header-cell mat-sort-header *matHeaderCellDef> Use Nr </th>-->
<!--      <td mat-cell *matCellDef="let row"> {{ row.useNr}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="einsatzgebiet">-->
<!--      <th class="column-header" mat-header-cell mat-sort-header *matHeaderCellDef> Einsatzgebiet </th>-->
<!--      <td mat-cell *matCellDef="let row"> {{ row.einsatzgebiet }} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="anwendungsbereich">-->
<!--      <th class="column-header" mat-header-cell mat-sort-header *matHeaderCellDef> Anwendungsbereich </th>-->
<!--      <td mat-cell *matCellDef="let row"> {{ row.anwendungsbereich }} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="anwendungstechnik">-->
<!--      <th class="column-header" mat-header-cell mat-sort-header *matHeaderCellDef> Anwendungstechnik </th>-->
<!--      <td mat-cell *matCellDef="let row"> {{ row.anwendungstechnik }} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="wirkungsbereich">-->
<!--      <th class="column-header" mat-header-cell mat-sort-header *matHeaderCellDef> Wirkungsbereich </th>-->
<!--      <td mat-cell *matCellDef="let row"> {{ row.wirkungsbereich }} </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->
<!--  <mat-card-footer>-->
<!--    <div style="position:absolute;width:100%;display:flex;flex-direction:row;align-content:flex-end;">-->
<!--      <div style="margin:auto;">-->
<!--        <button class="paging-btn" [disabled]="!hasPrev" mat-button mat-stroked-button (click)="prevPage()">prev</button>-->
<!--        <button class="paging-btn" [disabled]="!hasNext" mat-button mat-stroked-button (click)="nextPage()">next</button>-->
<!--      </div>-->
<!--      <div>-->
<!--        <mat-form-field appearance="fill" style="width: 6.8rem;margin: 16px 0">-->
<!--          <mat-label>Page Size</mat-label>-->
<!--          <mat-select [(ngModel)]="selected" [(value)]="selected" (selectionChange)="changePageSize()">-->
<!--            <mat-option value="10">10</mat-option>-->
<!--            <mat-option value="20">20</mat-option>-->
<!--            <mat-option value="50">50</mat-option>-->
<!--            <mat-option value="100">100</mat-option>-->
<!--            <mat-option value="200">200</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-card-footer>-->
<!--</mat-card>-->
